@import "./node_modules/bootswatch/dist/minty/bootstrap.css";

.bannerPopup{
    img{
        width: 200px;
        object-fit: cover;
    }
}

.container{
    background:#202020;

    *{
        color:rgb(243, 243, 243);
    }
}