.benefits{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;

    iframe{
        width: 100%;
    }
}

.small{
    font-size: 0.75rem;
    font-style: italic;
}